.barra-de-navegacion{
    display: flex;
    gap: 1em;
    &__items{
        list-style: none;
        transition: transform 0.5s ease;
    }
}
a{
    text-decoration: none;
    color: white;
}
.barra-de-navegacion__items:hover{
    transform: scale(1.2);
}